<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<main class="page-content" aria-label="Content">
  <div class="wrapper">
    {{ content }}
  </div>
</main>

</body>
<footer class="site-footer h-card">
  <div class="wrapper">
    <a href="https://www.linkedin.com/in/niklas-holtz-442465213"><img src="../assets/linkedin.png" height="20px" alt=""></a>
    <a href="https://github.com/niklas-holtz"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg></a>
    <p style="float: right">Last updated October 3, 2021.</p>
  </div>
</footer>

<link href="css/style.css" rel="stylesheet">
</html>